*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-items{
    width: 100%;
    height: 80px;
    display: flex;
  
}

.nav{ 
    flex: 1; 

}

.nav-links{

   
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.nav-logo{
    display: flex;
    justify-content: center;
}

.nav-logo > img{ 
   margin: 20px;
   width: 150px;
}

.nav-links > ul{
    
    display: flex;
    list-style: none;
    align-items: center;
    margin-right: 90px;

}
.nav-links > ul >li {
 
   padding: 20px;
}
.nav-links > ul >li >a{
 
  text-decoration: none;
  color: #555;
  cursor: pointer;
 }



@media(max-width:763px){

    .nav-links{
        display: none;
    }

    .nav-logo{

        justify-content:flex-start;


    }
}

 .hero-section{

    width: 100%;
    border: 1px solid red;
    height: 450px;
 }
.inner img{
    width: 100%;
}

.inner{

    display: flex;
    justify-content: center;
    align-items: center;
}
.details h1{
    font-weight: 700;
    text-transform: uppercase;
}
 








