*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{

  width: 100%;
  height: 100vh;
  background-color: #555;
  

}
@media(max-width:994px) {
    .header{

        height: auto;         
      }




    
}

.nav-items{
    width: 100%;
    height: 80px;
    display: flex;
  
}

.nav{ 
    flex: 1; 

}

.nav-links{

   
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.nav-logo{
    display: flex;
    justify-content: center;
}

.nav-logo > img{ 
   margin: 20px;
   width: 150px;
}

.nav-links > ul{
    
    display: flex;
    list-style: none;
    align-items: center;
    margin-right: 90px;
   

}
.nav-links > ul >li {
 
   padding: 20px;
   
}
.nav-links > ul >li >a{
 
  text-decoration: none;
  color: #555;
  cursor: pointer;
  color: white;
 }

@media(max-width:763px){

    .nav-links{
        display: none;
    }

    .nav-logo{

        justify-content:flex-start;


    }
}

 .hero-section{

    width: 100%;
    border: 1px solid red;
    height: 550px;
 }

.inner > img{
    width: 100%;
    margin-top: 10px;
   
}

.inner{
    
    display: flex;
    justify-content: center;
    align-items: center;

}
.details h1{
    font-weight: 700;
    text-transform: uppercase;
    color: rgb(205, 205, 205);
}

.item-section{

    margin-top: 40px;
}


.item-section .inner > img{
    margin-top: 5px;
    width: 100%;

}

.item-section .inner :hover{

       opacity: 0.7;
       cursor: pointer;
   

}

.feature h2{
 
  text-align: center;
  color:#555 ;
  margin-top: 40px;
  font-size: 24px;
  text-decoration:  underline red ;
 

}




.products img {
   
    width: 200px;
 
    
}

@media(max-width:575px){

    .products img {
        width: 100%;
        margin: 5px 10px ;
        
    }
}

.products img:hover{
    opacity: 0.8;
    cursor: pointer;
}


 








